<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}">
    <title>sPidercam</title>
    <meta name="description" content="sPidercam dashboard">
    <meta name="author" content="René Lantzsch">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
</head>

<body>
    <div class="section hero" style="margin-top:3rem">
        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <h3 class="section-heading">sPidercam</h3>
                </div>
                <div class="one-half column">
                    <a class="button button-primary u-pull-right" href="config">Configure</a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <p class="section-description">Configure your sPidercam and view the camera livestream and recorded videos.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section timelapse" style="margin-top:3rem">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h5>Latest timelapse videos</h5>
                </div>
            </div>
            <div class="row">
                {% if video_dirs|length %} {% for folder in video_dirs %}
                <div class="one column">
                    <div class="row">
                        <div class="column">
                            <span>{{ folder|to_day_name }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <a href="timelapse/videos/{{ folder }}/video.mp4"><img class="u-max-full-width" src="timelapse/videos/{{ folder }}/thumbnail.jpg"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="five columns">
                    <a class="button secondary" style="margin-top: 3%" href="">&gt; more-</a>
                </div>
                {% else %}
                <div class="column">
                    <div class="row">
                        <div class="column">
                            <span>Timelapse videos will show up here</span>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="section livestream" style="margin-top:3rem">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h5>Livestream</h5>
                    <img class="u-max-full-width" src="/livestream" width="1024" height="auto" />
                </div>
            </div>
        </div>
    </div>

    <div class="section footer" style="margin-top:3rem">
        <div class="container">
            <div class="row">
                <div class="five columns">
                    <p>&copy; <a href="http://www.eskana.de">eskana</a> (René Lantzsch) 2018</p>
                </div>
                <div class="four columns">
                    <a class="u-pull-right" href="https://github.com/Kanabanarama/sPidercam">View code on github</a>
                </div>
                <div class="three columns">
                    <p class="u-pull-right"><a href="https://github.com/Kanabanarama/sPidercam/issues">Report a bug</a></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>